<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%= link_to "update", edit_article_path %>
<!-- for the "update" link, it is better to do <%= link_to update(update should be inside quotes), edit_article_path(@article) %> -->
<%= link_to "delete", article_path(@article), method: :delete, data: { confirm: "are you sure?" } %>
